body{
    background-color: #f8f9fa !important;
    font-family: 'Roboto', sans-serif;
}

.text-decoration-none,p{
    color: #555555;
}

.profile-title{
    font-size:large ;
}

 .profile-sub{
    color: rgb(82, 82, 82) !important;
    font-size: medium;
}
li {
  list-style: none !important;
}

.trophy-bg{
    background-color:hsl(45, 100%, 94%) !important ;
}

.guru-bg{
    background-color: #e7f0ff !important;
}

.calendar-bg{
    background-color:#e9f3ed !important;
}

.innovator-bg{
    background-color: #eafafe !important;
}
